<div class="col-2">
  <div class="border border-black border-3">
    <div class="border border-end-0 text-center">
      <p class="font-weight-bold">ジャンル検索</p>
    </div>
    <div class="p-2">
      <% genres.each do |genre| %>
        <p><%= link_to  genre.name, public_items_path(genre_id: genre.id) %></p>
      <% end %>
    </div>
  </div>
</div>
